<div class="row">
  <div class="col">
      <h1 class="page-title">Login</h1>
  </div>
</div>
<div class="row">
<div class="col-4">
    Username:
</div>
  <div class="col">
    <input class="form-control-sm" type="text" #username placeholder="username" >
  </div>
</div>
<div class="row mt-1">
  <div class="col-4">
    Password:
  </div>
  <div class="col">
    <input class="form-control-sm" type="password" #password placeholder="password" >
  </div>
</div>
<div class="row mt-3">
  <div class="col-4">

  </div>
  <div class="col">
    <button  (click)="authenticate(username.value, password.value)">Login</button>
    <button  (click)="register(username.value, password.value)">Register</button>
  </div>
</div>
