<div class="container">
  <div class="row">
    <div class="col-5">
    </div>
    <div class="col-7">
      <app-noty></app-noty>
    </div>
  </div>
    <div class="row shadow-sm headline">
      <div class="col-4 m-2 text-left"><h1>{{ 'application.title' | translate }}</h1></div>
      <div class="col m-2 text-right"></div>
      <div class="col-2 m-2 text-right">
        <div *ngIf="user" class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle material-icons"
                  aria-controls="dropdown-basic">person<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
          </div>
        </div>
    </div>
  <div class="row d-lg-none mt-2 shadow-sm p-2">
    <div class="btn-group" role="group">
      <a routerLink="/home" title="Home" class="btn btn-outline-dark material-icons">home</a>
    </div>
  </div>
    <div class="row">
      <div class="col-1 mt-2 d-none d-lg-block">
        <div class="row">
          <div class="col">
            <a routerLink="/home" title="Home" class="btn btn-lg btn-outline-dark material-icons">home</a>
          </div>
        </div>
      </div>
      <div class="col mt-2 pb-4 shadow-sm">
          <app-login *ngIf="!user"></app-login>
          <router-outlet *ngIf="user"></router-outlet>
      </div>
  </div>
</div>
